
/*'neon' : ['#352a55','#0bffe6','#fffdff','#feff7b']*/


.neon-theme {color:#fffdff !important; background-color:#352a55 !important}
.neon-theme-light {color:#fffdff !important; background-color:#493f66!important}
.neon-theme-dark {color:#fffdff !important; background-color:#2a2144 !important}
.neon-theme-action {color:#fff !important; background-color:#d9760d !important}
.neon-text-theme {color:#fff !important}
.neon-text-title {color:#c732c4 !important;}
.neon-text-blue {color:#01cbcf !important;}
.neon-text-red {color:#df0772 !important;}
.neon-text-yellow {color:#dfc907!important;}
.neon-text-poster{font-size:250px!important}
.neon-border-theme {border-color:#fce5cd !important}
.neon-hover-theme:hover {color:#000 !important; background-color:#fce5cd !important}
.neon-hover-text-theme:hover {color:#fce5cd !important}
.neon-hover-border-theme:hover {border-color:#fce5cd !important}

.cappucino-theme {color:#fff4e6 !important; background-color:#3c2f2f !important}
.cappucino-theme-light {color:#fff4e6 !important; background-color:#4f4343 !important}
.cappucino-theme-dark {color:#fff4e6 !important; background-color:#302525 !important}
.cappucino-theme-action {color:#fff !important; background-color:#d9760d !important}
.cappucino-text-theme {color:#fff !important}
.cappucino-text-title {color:#f02e2e !important;}
.cappucino-text-blue {color:#8de7f8 !important;}
.cappucino-text-red {color:#bf3054 !important;}
.cappucino-text-yellow {color:	#ffbe4f!important;}
.cappucino-text-poster{font-size:250px!important}
.cappucino-border-theme {border-color:#fce5cd !important}
.cappucino-hover-theme:hover {color:#000 !important; background-color:#fce5cd !important}
.cappucino-hover-text-theme:hover {color:#fce5cd !important}
.cappucino-hover-border-theme:hover {border-color:#fce5cd !important}

.bland-theme {color:#303030 !important; background-color:#ffffff !important}
.bland-theme-light {color:#303030 !important; background-color:#ffffff !important}
.bland-theme-dark {color:#303030 !important; background-color:#c8dbdf !important}
.bland-theme-action {color:#000 !important; background-color:#d9760d !important}
.bland-text-theme {color:#323232 !important}
.bland-text-title {color:#fe546f !important;}
.bland-text-blue {color:#073763 !important;}
.bland-text-red {color:#cc4125 !important;}
.bland-text-yellow {color:#f6b26b !important;}
.bland-text-poster{font-size:250px!important}
.bland-border-theme {border-color:#fce5cd !important}
.bland-hover-theme:hover {color:#000 !important; background-color:#fce5cd !important}
.bland-hover-text-theme:hover {color:#fce5cd !important}
.bland-hover-border-theme:hover {border-color:#fce5cd !important}

.beige-theme {color:#303030 !important; background-color:#fce5cd !important}
.beige-theme-light {color:#303030 !important; background-color:#fffefc !important}
.beige-theme-dark {color:#212121 !important; background-color:#fbd8b5 !important}
.beige-theme-action {color:#fff !important; background-color:#d9760d !important}
.beige-text-theme {color:#303030 !important}
.beige-text-title {color:#322b24 !important;}
.beige-text-blue {color:#415e8d !important;}
.beige-text-red {color:#cc4125 !important;}
.beige-text-poster{font-size:250px!important}
.beige-border-theme {border-color:#fce5cd !important}
.beige-hover-theme:hover {color:#000 !important; background-color:#fce5cd !important}
.beige-hover-text-theme:hover {color:#fce5cd !important}
.beige-hover-border-theme:hover {border-color:#fce5cd !important}
