<!DOCTYPE html>
<html>
<title>A.I. Lovecraft</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/themes.css">
<link rel="stylesheet" href="static/css/base.css">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,h1,h2,h3 {font-family: 'Abril Fatface', cursive;}
body,h4,h5 {font-family: 'Raleway', sans-serif;}
</style>

<body class=" {{ theme }}-theme">

<!-- Top container -->
<div class="titlediv">
  <h2 class="{{ theme }}-text-title"><b> A.I. Lovecraft</b></h2>
</div>

{% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="titlediv {{ theme }}-text-red">
    <div>
      <a> Todd McCullough</a>
      <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-text-red fa fa-twitter"></i></a>
      <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-text-red fa fa-github"></i></a>
      <a href="https://twitter.com/tamccullough" target="_blank"><i class="{{ theme }}-text-red fa fa-linkedin"></i></a>
    </div>
  </footer>

  <!-- End page content -->
</div>

</body>
</html>
