{% extends 'base.html' %}
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="maindiv" style="height: 90%;">

  <!-- Header -->
  <header class="{{ theme }}-text-red">
    <h4> Text Generation Using the Works of H.P. Lovecraft</h4>
  </header>

  <!-- main content -->
  <div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed varius nunc. Ut imperdiet tellus in tellus ullamcorper euismod.<p>
  </div>

  <div class="{{ theme }}-text-blue">
    <h4> Generated Text<h4>
  </div>

  <div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed varius nunc. Ut imperdiet tellus in tellus ullamcorper euismod. Praesent ac arcu id odio interdum aliquet. Aliquam eget malesuada enim. Donec semper ante sit amet consectetur dignissim. Cras fringilla nisi sem, quis sodales ante accumsan eget. Mauris tempor semper justo nec lobortis. Praesent a fringilla felis. Proin nibh nisi, maximus in consectetur non, vulputate nec arcu. In ultrices neque sed laoreet ullamcorper. Maecenas ut pretium sapien.<p>
  </div>

</div>

{% endblock %}
