{% extends 'base.html' %}
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="maindiv">

  <!-- Header -->
  <header class="titlediv {{ theme }}-text-red">
    <h4> Text Generation Using the Works of H.P. Lovecraft</h4>
  </header>

  <!-- main content -->
  <div class="inputdiv">
    <form method="POST" action="/generate">
      <input class="{{ theme }}-theme-dark" style="width: 85%; height: 20px; border: 0;" type="text" id="generate" placeholder="Type a sentence to generate the text." required name="generate" name="generate">
      <button class="{{ theme }}-theme qbutton" style="text-align: center; width: 30px;" type="submit"><i class="{{ theme }}-text-blue fa fa-paper-plane"></i></button>
    </form>
  </div>

  <div class="titlediv {{ theme }}-text-blue">
    <h4> {{ description}}<h4>
  </div>

  <div class="textdiv">
    <p>{{ generated_text }}<p>
  </div>

  <div class="titlediv {{ theme }}-text-blue">
    <p>Well, it's not GPT-2. But it's a start.<p>
  </div>

</div>

{% endblock %}
